<!DOCTYPE html>
<html>
<head><title>配置你的Arrow</title>
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/slate/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/default/bootstrap-responsive.min.css"/>
    <link href="http://bootswatch.com/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://bootswatch.com/css/bootswatch.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href="http://www.bootcss.com/p/icheck/skins/futurico/futurico.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://bootswatch.com/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="http://www.bootcss.com/p/icheck/js/jquery.icheck.min.js"></script>
    <style type="text/css">
        section {
            margin-top: 0;
            padding-top: 0;
        }
    </style>
</head>
<body class="preview">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Arrow</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="https://github.com/czy88840616/arrow/wiki" target="_blank">文档</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            其他
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://github.com/czy88840616/arrow" target="_blank">查看源码</a></li>
                            <li><a href="https://github.com/czy88840616/arrow/issues/new" target="_blank">向我提意见</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section>
        <div class="row">
            <div class="span8">
                <div class="well">

                </div>
            </div>
            <div class="span4">
                <a class="btn btn-primary btn-large" href="#">添加规则</a>
            </div>
        </div>
    </section>
    <section>
        <div class="page-header">
            <h1>Create a Rule</h1>
        </div>
        <div class="row">
            <div class="span12">
                <p style="font-size: 80px;line-height: 80px;font-weight: bold">
                    if <a href="#" style="text-decoration: underline;color: #2F96B4;">Path A</a> proxy to Path B
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="page-header">
            <h1>Write a Pattern</h1>
        </div>
        <div class="row">
            <div class="span12">
                <form action="">
                    <input type="text">
                    <p class="help-block">String or Regexp</p>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="page-header">
            <h1>Name</h1>
        </div>
        <div class="row">
            <div class="span12">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="input01">规则名</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="input01">
                                <p class="help-block">最后一步喽。</p>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="reset" class="btn">取消</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</div>

</body>
</html>