<!DOCTYPE html>
<html>
<head><title>配置你的Arrow</title>
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/slate/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/default/bootstrap-responsive.min.css"/>
    <link href="http://bootswatch.com/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://bootswatch.com/css/bootswatch.css" rel="stylesheet">
    <link rel="stylesheet" href="selectBoxIt/jquery.selectBoxIt.css" />
    <link href="http://www.bootcss.com/p/icheck/skins/futurico/futurico.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="http://bootswatch.com/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="http://www.bootcss.com/p/icheck/js/jquery.icheck.min.js"></script>
    <script src="selectBoxIt/jquery.selectBoxIt.js"></script>
    <script src="http://bootswatch.com/js/jquery.smooth-scroll.min.js"></script>
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Arrow</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="https://github.com/czy88840616/arrow/wiki" target="_blank">文档</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            其他
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://github.com/czy88840616/arrow" target="_blank">查看源码</a></li>
                            <li><a href="https://github.com/czy88840616/arrow/issues/new" target="_blank">向我提意见</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <header class="jumbotron subhead" id="overview">
        <div class="row">
            <div class="span6">
                <h1>Arrow</h1>
                <p class="lead">做最灵活的Assets代理.</p>
            </div>
            <div class="span6">
                <div class="bsa well">
                </div>
            </div>
        </div>
        <div class="subnav">
            <ul class="nav nav-pills">
                <li><a href="#dashboard">Dashboard</a></li>
                <li><a href="#J_SolutionList">方案列表</a></li>
                <li><a href="#rulePool">规则库</a></li>
                <li><a href="#addRule">添加规则</a></li>
                <li><a href="#comboRule">组合规则</a></li>
                <li><a href="#addSolution">添加规则到方案</a></li>
            </ul>
        </div>
    </header>
    <div class="row" id="dashboard">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <small>Dashboard</small>
                </h1>
            </div>
        </div>
        <span12>
            <div class="span8">
                <p>
                    当前使用的的代理方案为：<span class="label">全局方案</span> +  <select class=""><option>解决方案1</option></select>　
                </p>
                <p>
                    当前规则库中共有  <span class="label">12</span> 个规则
                </p>
            </div>
            <div class="span4">
                <div class="input-append well">
                    <input class="span2" id="appendedInputButton" type="text" placeholder="自定义解决方案名">
                    <button class="btn" type="button">添加新方案</button>
                </div>
            </div>
        </span12>
    </div>
    <div class="row" id="J_SolutionList">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <small>方案列表</small>
                </h1>
            </div>
            <div class="accordion" id="accordion-228050">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-228050" href="#accordion-element-146230"><i class="icon-globe"></i> 全局方案</a>
                    </div>
                    <div id="accordion-element-146230" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>规则顺序</th>
                                    <th>规则概要</th>
                                    <th>其他</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" checked class="J_RuleEnable">
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>kissy-min处理成kissy</td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox"> 替换资源不存在则走原URL
                                        </label>
                                    </td>
                                    <td>
                                        <a href="#"><i class="icon-remove"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" checked class="J_RuleEnable">
                                    </td>
                                    <td>
                                        <select class="input-mini">
                                            <option>1</option>
                                            <option selected>2</option>
                                        </select>
                                    </td>
                                    <td>给脚本加.source</td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox"> 替换资源不存在则走原URL
                                        </label>
                                    </td>
                                    <td>
                                        <a href="#"><i class="icon-remove"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-228050" href="#accordion-element-102288">解决方案1</a>
                    </div>
                    <div id="accordion-element-102288" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            功能块...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="rulePool">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <small>规则库</small>
                </h1>
            </div>
            <div class="well clearfix" id="rulePoolDetail">
                <div class="btn-group" id="rulePoolOperator" style="display: none">
                    <a class="btn btn-info btn-large J_AddSolution" href="#">添加选中规则</a>
                    <a class="btn btn-info btn-large dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="J_ComboRule">组合选中规则</a></li>
                        <li><a href="#" class="J_ClearSelect">取消所有选中</a></li>
                    </ul>
                </div>
                <div class="rule" data-id="">
                    <div class="hd"><i class="icon-font"></i> <strong>kissy去min...</strong></div>
                    <div class="bd">
                        <p>匹配到 <code>kissy-min</code></p>
                        <p>替换为 <code>kissy</code></p>
                    </div>
                    <i class="icon icon-edit"></i>
                    <i class="icon icon-trash"></i>
                    <i class="icon icon-ok"></i>
                </div>
                <div class="rule">
                    <div class="hd"><i class="icon-link"></i> <strong>url代理测试...</strong></div>
                    <div class="bd">
                        <p>匹配到 <code>p/s/kissy/1.2.0</code></p>
                        <p>替换为 <code>http://a.tbcdn.cn/s/kissy/1.2.0/</code></p>
                    </div>
                    <i class="icon icon-edit"></i>
                    <i class="icon icon-trash"></i>
                    <i class="icon icon-ok"></i>
                </div>
                <div class="rule">
                    <div class="hd"><i class="icon-folder-open-alt"></i> <strong>替换为本地路径...</strong></div>
                    <div class="bd">
                        <p>匹配到 <code>/p</code></p>
                        <p>替换为 <code>D:\\project\\tradeface\\assets</code></p>
                    </div>
                    <i class="icon icon-edit"></i>
                    <i class="icon icon-trash"></i>
                    <i class="icon icon-ok"></i>
                </div>
                <div class="rule">
                    <div class="hd"><i class="icon-font"></i> <strong>kissy去min...</strong></div>
                    <div class="bd">
                        <p>匹配到 <code>kissy-min</code></p>
                        <p>替换为 <code>kissy</code></p>
                    </div>
                    <i class="icon icon-edit"></i>
                    <i class="icon icon-trash"></i>
                    <i class="icon icon-ok"></i>
                </div>
                <div class="rule">
                    <div class="hd"><i class="icon-link"></i> <strong>url代理测试...</strong></div>
                    <div class="bd">
                        <p>匹配到 <code>p/s/kissy/1.2.0</code></p>
                        <p>替换为 <code>http://a.tbcdn.cn/s/kissy/1.2.0/</code></p>
                    </div>
                    <i class="icon icon-edit"></i>
                    <i class="icon icon-trash"></i>
                    <i class="icon icon-ok"></i>
                </div>
                <div class="rule">
                    <div class="hd"><i class="icon-folder-open-alt"></i> <strong>替换为本地路径...</strong></div>
                    <div class="bd">
                        <p>匹配到 <code>/p</code></p>
                        <p>替换为 <code>D:\\project\\tradeface\\assets</code></p>
                    </div>
                    <i class="icon icon-edit"></i>
                    <i class="icon icon-trash"></i>
                    <i class="icon icon-ok"></i>
                </div>
                <div class="rule">
                    <div class="hd"><i class="icon-book"></i> <strong>组合规则</strong></div>
                    <div class="bd">
                        <p>共包含 <strong>4</strong> 个规则</p>
                    </div>
                    <i class="icon icon-edit"></i>
                    <i class="icon icon-trash"></i>
                    <i class="icon icon-ok"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="addRule">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <small>添加规则</small>
                </h1>
            </div>
            <blockquote>
                <p>
                    添加的规则都保存在规则库中，下次可以直接使用.
                </p>
            </blockquote>
        </div>
        <div class="span12 hidden">
            <form class="form-horizontal well">
                <div class="control-group">
                    <label class="control-label" for="ruleName">给规则取个名</label>
                    <div class="controls">
                        <input type="text" id="ruleName" placeholder="规则名" class="input-xxlarge">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="rulePattern">匹配内容</label>
                    <div class="controls">
                        <input type="text" id="rulePattern" placeholder="匹配的内容，可以为正则表达式" class="input-xxlarge">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="J_RuleType">替换类型和内容</label>
                    <div class="controls controls-row">
                        <select name="rule-type" id="J_RuleType" class="mg-right">
                            <option value="0" data-icon="icon-font">字符串</option>
                            <option value="1" data-icon="icon-folder-open-alt">本地路径</option>
                            <option value="2" data-icon="icon-link">URL</option>
                        </select>
                        <input type="text" id="J_StringText" placeholder="请填写替换的内容"  class="input-xlarge">
                        <input type="text" id="J_LocalText" placeholder="请填写替换的本地路径" style="display: none"  class="input-xlarge">
                        <div class="input-prepend" id="J_UrlText" style="display: none">
                            <span class="add-on"><strong>http://{Domain}/</strong></span>
                            <input class="input-xlarge" id="prependedInput" type="text" placeholder="a.js">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="J_RuleType">快速添加到</label>
                    <div class="controls">
                        <select>
                            <option value="0"></option>
                            <option value="0">全局方案</option>
                            <option value="1">解决方案1</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a href="#" class="btn btn-primary"><i class="icon-save"></i> 保存</a>
                        <button type="reset" class="btn">清空</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="span12">
            <form class="form-horizontal">
                <div class="rule-list-wrap">
                    <div class="well">
                        <div class="control-group">
                            <label class="control-label">匹配内容</label>
                            <div class="controls">
                                <input type="text" placeholder="匹配的内容，可以为正则表达式" class="input-xxlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">替换内容</label>
                            <div class="controls">
                                <input type="text" placeholder="请填写替换的内容"  class="input-xlarge">
                                <label class="checkbox inline">
                                    <input type="checkbox"> 本地路径
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="control-group pull-right">
                    <div class="controls">
                        <a href="#" class="btn J_AddRuleTpl"><i class="icon-plus"></i> 新增额外一条</a>
                        <a href="#" class="btn btn-primary"><i class="icon-save"></i> 保存</a>
                        <button type="reset" class="btn">清空</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="comboRule">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <small>组合规则</small>
                </h1>
            </div>
            <blockquote>
                <p>
                    用鼠标将多个规则拖放组合为一个新的规则组合，其中的每个规则都将会执行一次，不论是否匹配。
                </p>
            </blockquote>
            <div class="well clearfix">
                <div class="rule-list clearfix">
                    <span class="label label-info rule-name">kissy-min变kissy</span>
                    <span class="label label-info rule-name">换成源码</span>
                </div>
                <hr style="border-top-color: #fff">
                <div class="steps clearfix">
                    <div class="step">1</div>
                    <div class="arr"><i class="icon-double-angle-right icon-4x"></i></div>
                    <div class="step">2</div>
                    <div class="arr"><i class="icon-double-angle-right icon-4x"></i></div>
                    <div class="step">3</div>
                    <div class="arr"><i class="icon-double-angle-right icon-4x"></i></div>
                    <div class="step">4</div>
                    <div class="arr"><i class="icon-double-angle-right icon-4x"></i></div>
                    <div class="step" style="margin-right: 0">5</div>
                </div>
                <hr style="border-top-color: #fff">
                <div class="controls pull-right">
                    <a href="#" class="btn btn-primary"><i class="icon-save"></i> 保存</a>
                    <a class="btn J_Reset" href="#"><i class="icon-undo"></i> 重置</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="addSolution">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <small>添加规则到方案</small>
                </h1>
            </div>
            <div class="well clearfix">
                <hr style="border-top-color: #fff">
                <p>
                    即将添加 <strong class="J_SelectNum num">4</strong> 个规则到
                    <select>
                        <option value="0">全局方案</option>
                        <option value="1">解决方案1</option>
                    </select>
                </p>
                <hr style="border-top-color: #fff">
                <div class="controls pull-right">
                    <a href="#" class="btn btn-primary"><i class="icon-ok"></i> 确定</a>
                    <a class="btn J_Cancel" href="#">返回</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <div class="links">
            <a href="https://github.com/thomaspark/bootswatch/">GitHub</a>
            <a href="https://github.com/thomaspark/bootswatch/">Document</a>
            <a href="https://github.com/thomaspark/bootswatch/">Guide</a>
        </div>
        Made by <a href="mailto:zhangting@taobao.com">zhangting</a><br>
    </footer>
</div>
<textarea class="template" id="J_RuleTpl">
    <div class="well">
        <a href="#" class="close"><i class="icon-remove"></i></a>
        <div class="control-group">
            <label class="control-label">匹配内容</label>
            <div class="controls">
                <input type="text" placeholder="匹配的内容，可以为正则表达式" class="input-xxlarge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">替换内容</label>
            <div class="controls">
                <input type="text" placeholder="请填写替换的内容"  class="input-xlarge">
                <label class="checkbox inline">
                    <input type="checkbox"> 本地路径
                </label>
            </div>
        </div>
    </div>
</textarea>
<script src="index.js" type="text/javascript"></script>
</body>
</html>