<!DOCTYPE html>
<html>
<head><title>配置你的Arrow</title>
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/slate/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/default/bootstrap-responsive.min.css"/>
    <link href="http://bootswatch.com/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://bootswatch.com/css/bootswatch.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href="http://www.bootcss.com/p/icheck/skins/futurico/futurico.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://bootswatch.com/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="http://www.bootcss.com/p/icheck/js/jquery.icheck.min.js"></script>
</head>
<body class="preview">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Arrow</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="https://github.com/czy88840616/arrow/wiki" target="_blank">文档</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            其他
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://github.com/czy88840616/arrow" target="_blank">查看源码</a></li>
                            <li><a href="https://github.com/czy88840616/arrow/issues/new" target="_blank">向我提意见</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <small>Dashboard</small>
                </h1>
            </div>
            <div class="row">
                <div class="span8">
                    <p>
                        当前使用的的代理方案为：<span class="label">全局方案</span> +  <select class=""><option>解决方案1</option></select>　
                    </p>
                    <p>
                        当前规则池中共有  <span class="label">12</span> 个规则
                    </p>
                </div>
                <div class="span4">
                    <div class="input-append well">
                        <input class="span2" id="appendedInputButton" type="text" placeholder="自定义解决方案">
                        <button class="btn" type="button">添加新方案</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="J_SolutionList">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <small>方案列表</small>
                </h1>
            </div>
            <div class="accordion" id="accordion-228050">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-228050" href="#accordion-element-146230"><i class="icon-globe"></i> 全局方案</a>
                    </div>
                    <div id="accordion-element-146230" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>#</th>
                                    <th>被代理部分</th>
                                    <th>代理结果部分</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" checked>
                                    </td>
                                    <td>1</td>
                                    <td>kissy-min</td>
                                    <td>kissy</td>
                                    <td>
                                        <a href="#"><i class="icon-edit"></i></a>
                                        <a href="#"><i class="icon-copy"></i></a>
                                        <a href="#"><i class="icon-remove"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" checked>
                                    </td>
                                    <td>2</td>
                                    <td>kissy-min</td>
                                    <td>kissy</td>
                                    <td>
                                        <a href="#"><i class="icon-edit"></i></a>
                                        <a href="#"><i class="icon-copy"></i></a>
                                        <a href="#"><i class="icon-remove"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" checked>
                                    </td>
                                    <td>3</td>
                                    <td>kissy-min</td>
                                    <td>kissy</td>
                                    <td>
                                        <a href="#"><i class="icon-edit"></i></a>
                                        <a href="#"><i class="icon-copy"></i></a>
                                        <a href="#"><i class="icon-remove"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-228050" href="#accordion-element-102288">解决方案1</a>
                    </div>
                    <div id="accordion-element-102288" class="accordion-body collapse">
                        <div class="accordion-inner">
                            功能块...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <small>快速添加</small>
                </h1>
            </div>
            <blockquote>
                <p>
                    添加的规则都保存在规则池中，下次可以直接使用.
                </p>
            </blockquote>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#A" data-toggle="tab">挑选规则</a></li>
                <li><a href="#B" data-toggle="tab">快速添加规则</a></li>
            </ul>
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane active" id="A">
                        <div class="well">111</div>
                    </div>
                    <div class="tab-pane" id="B">
                        <form class="form-horizontal well">
                            <div class="control-group">
                                <label class="control-label" for="ruleName">给规则取个名</label>
                                <div class="controls">
                                    <input type="text" id="ruleName" placeholder="规则名">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="rulePattern">匹配内容</label>
                                <div class="controls">
                                    <input type="text" id="rulePattern" placeholder="匹配的内容">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="ruleTarget">替换内容</label>
                                <div class="controls">
                                    <input type="password" id="ruleTarget" placeholder="替换的内容">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="ruleTarget">添加到方案</label>
                                <div class="controls">
                                    <select name="" id="">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn">添加</button>
                                    <button type="reset" class="btn">清空</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <div class="links">
            <a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a>
            <a href="http://feeds.feedburner.com/bootswatch">RSS</a>
            <a href="https://twitter.com/thomashpark">Twitter</a>
            <a href="https://github.com/thomaspark/bootswatch/">GitHub</a>
            <a href="https://github.com/thomaspark/bootswatch/tree/gh-pages/swatchmaker">Swatchmaker</a>
            <a href="http://news.bootswatch.com/post/22193315172/bootswatch-api">API</a>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=F22JEM3Q78JC2">Donate</a>
        </div>
        Made by <a href="http://thomaspark.me">Thomas Park</a>. Contact him <a href="mailto:hello@thomaspark.me">hello@thomaspark.me</a>.<br/>
        Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.<br/>
        Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. Hosted on <a href="http://pages.github.com/">GitHub</a>. Icons from <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>. Favicon by <a href="https://twitter.com/geraldhiller">Gerald Hiller</a>.</p>
    </footer>
</div>

<script>
    $(document).ready(function(){
        $('#J_SolutionList input').iCheck({
            checkboxClass: 'icheckbox_futurico',
            radioClass: 'iradio_futurico',
            increaseArea: '20%' // optional
        });
    });
</script>
</body>
</html>