<!DOCTYPE html>
<html>
<head><title>配置你的VMarket</title>
    <link rel="stylesheet" href="/bootstrap/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap/cosmo/docs.css">
    <script type="text/javascript" src="/jquery/jquery-1.8.1.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Vmarket</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/list">应用列表</a></li>
                    <li><a href="/proxy">Assets代理</a></li>
                    <li><a href="https://github.com/czy88840616/avalon-node/wiki" target="_blank">文档</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            其他
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://czy88840616.github.io/avalon-node/quickstart" target="_blank">QucikStart</a></li>
                            <li><a href="http://v.taobao.net" target="_blank">VMarket</a></li>
                            <li><a href="https://github.com/czy88840616/avalon-node" target="_blank">查看源码</a></li>
                            <li><a href="https://github.com/czy88840616/avalon-node/issues/new" target="_blank">向我提意见</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>配置你的VMarket Client
            {if type}
            <a href="#" id="J_SwitchAppTypeModalTrigger" data-toggle="modal" data-target="#J_SwitchAppTypeModal" rel="tooltip" data-placement="right" data-original-title="选择应用符合的目录结构">
                <img src="/type/{type}.jpg" alt="" style="height: 30px">
            </a>
            {end}
        </h1>
    </div>
</div>
</body>
</html>