label, input, button, select, textarea, legend {
    color: #52575c;
}
.row {
    padding-top: 60px;
}

.table th, .table td {
    border-bottom: 1px solid #1C1E22;
}

table .enable {
    width: 100px;
}

table .title {
    width: 300px;
}

.template {
    display: none;
}

.mg-right {
    margin-right: 20px;
}

.rule {
    background-color: #F2F2F2;
    float:left;
    min-width: 200px;
    max-width: 1125px;
    min-height: 100px;
    color: #222;
    border: 2px solid #000;
    margin-right: 10px;
    margin-bottom: 10px;
    position:relative;
    border-radius: 5px;
    overflow: hidden;
}

.rule:hover {
    border-color: #ff0042;
    cursor: pointer;
}

.rule .hd {
    border-bottom: 1px solid #000;
    padding: 5px 5px 0 5px;
}

.rule .bd {
    padding: 5px;
}

.rule .hd i {
    color: #0092FF;
}

.rule s {
    color: #00f;
}

.rule .target {
    text-decoration: none;
}

.rule .icon {
    position: absolute;
    font-size: 20px;
    color: #666;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.rule .icon-edit {
    right: 28px;
    top: 0;
    display: none;
}

.rule .icon-trash {
    right: 0;
    top: 0;
    display: none;
}

.rule:hover .icon-edit, .rule:hover .icon-trash{
    display: block;
}

.rule .icon-ok {
    display: none;
    bottom: 0;
    right: 0;
    font-size: 32px;
    color: #5bb75b;
}

.rule-select {
    border-color: #bd362f;
}

.rule-select .icon-ok {
    display: block;
}

#rulePoolDetail {
    position: relative;
}

#rulePoolOperator {
    position: absolute;
    z-index: 1;
}

.step, .arr {
    float:left;
    width: 120px;
    height: 120px;
    line-height: 140px;
    text-align: center;
}

.step {
    background-color: #F2F2F2;
    color: #aaa;
    border: 2px dashed #666;
    position:relative;
    border-radius: 5px;
    font-size: 40px;
    font-weight: bold;
    line-height: 120px;
}

.merge-active {
    border: 2px solid #1cef6d;
}

.rule-list {
    min-height: 30px;
}

.rule-name {
    display: inline-block;
    min-width: 80px;
    max-width: 200px;
    white-space:normal;
    text-align: center;
    cursor:move;
    z-index: 1;
    margin-right: 10px;
    margin-bottom: 10px;
}

.step .rule-name {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 112px;
}

#addSolution p {
    font-size: 28px;
}

#addSolution .num {
    font-size: 40px;
    color: #FF8F00;
}

#addRule .help-inline, #editRule .help-inline {
    display: none;
}

#addRule .error .help-inline, #editRule .error .help-inline {
    display: inline-block;
}

#editRule, #comboRule, #addSolution, #addRule {
    display: none;
}

.row {
    background-color: #272b30;
    margin-right: -30px;
}